{
  "https://login.aai.lifescience-ri.eu/oidc/": {
    "issuer": "https://login.aai.lifescience-ri.eu/oidc/",
    "client_id": "<valid client id>",
    "client_secret": "<valid client secret>",
    "redirect_uris": [
      "http://localhost:8090/auth/oidc_redirect",
      "http://localhost:8090/auth/oidc_code",
      "http://localhost:8090/auth/oidc_token"
    ],
    "audience": "rucio",
    "scope": "openid profile eduperson_entitlement offline_access",
    "SCIM": {
      "client_id": "<valid client id>",
    "client_secret": "<valid client secret>"
    },
    "capabilities": {
        "client_credentials": { "resource_param": true, "audience_param": false },
        "admin_client_credentials": { "resource_param": true, "audience_param": false },
        "token_exchange": { "resource_param": true, "audience_param": false },
        "authorization_code": { "resource_param": true, "audience_param": false },
        "fts_client_scope": "openid",
        "scope_map": { "storage.read": "", "storage.modify": "", "storage.create": "" },
        "drop_scopes": []
    }
  }
}
