Alias = rucio/fts
SiteName = ${site_name}

AuthorizedVO = *

DbType = mysql
DbUserName = fts
DbPassword = ${fts_db_password}
DbConnectString = ${fts_db_host}/fts

LogLevel = DEBUG

MinRequiredFreeRAM = 16
MaxUrlCopyProcesses = 4

StagingBulkSize = 1
StagingWaitingFactor = 1

[roles]
Public = all:transfer;all:config;all:datamanagement
