{
  "${oidc_issuer}": {
    "issuer": "${oidc_issuer}",
    "client_id": "${oidc_client_id}",
    "client_secret": "${oidc_client_secret}",
    "redirect_uris": [
      "http://localhost:8090/auth/oidc_redirect",
      "http://localhost:8090/auth/oidc_code",
      "http://localhost:8090/auth/oidc_token"
    ],
    "audience": "rucio",
    "scope": "openid profile eduperson_entitlement offline_access read:/ write:/",
    "SCIM": {
      "client_id": "${oidc_client_id}",
      "client_secret": "${oidc_client_secret}"
    },
    "capabilities": {
      "client_credentials": { "resource_param": true, "audience_param": false },
      "admin_client_credentials": { "resource_param": true, "audience_param": false },
      "token_exchange": { "resource_param": false, "audience_param": true },
      "authorization_code": { "resource_param": true, "audience_param": false },
      "scope_map": {
        "storage.read": "read:/",
        "storage.modify": "write:/",
        "storage.create": "write:/"
      },
      "drop_scopes": ["offline_access"]
    }
  }
}
