[client]
rucio_host = ${rucio_host}
auth_host  = ${rucio_host}
auth_type  = userpass
username   = ${userpass_username}
password   = ${userpass_password}
account    = ${userpass_account}
request_retries = 3
